full lab 5/chrome/win64-116.0.5793.0/chrome-win64/locales/lt.pak
full lab 5/chrome/win64-116.0.5793.0/chrome-win64/chrome.dll
full lab 5/node_modules/.bin/extract-zip
lab3.1/DeadLock/src
DHMT/Piano Tiles/Sounds/b3.ogg
full lab 5/node_modules/pac-resolver/dist/localHostOrDomainIs.js
full lab 5/node_modules/axios/lib/helpers/progressEventReducer.js
full lab 5/node_modules/es-errors/package.json
full lab 5/node_modules/call-bind-apply-helpers/actualApply.js
full lab 5/node_modules/degenerator/README.md
